<app-page-layout>
  <h2>Tienda</h2>

  <div class="veggetable-list">
    <div class="veggetable" *ngFor="let veggetable of veggetables">
      <app-cart-count-indicator [count]="getItemCount(veggetable.id)" />

      <a [routerLink]="['./', veggetable.id]">
        <img [src]="veggetable.image" [alt]="veggetable.name" />
      </a>

      <div class="info">
        <a [routerLink]="['./', veggetable.id]">
          <h3>{{ veggetable.name }}</h3>
        </a>
        <p class="price">${{ veggetable.price | number : "1.0-0" }} /kg</p>

        <button (click)="addItemToCart(veggetable)">Agregar al carrito</button>
      </div>
    </div>
  </div>
</app-page-layout>
