

h2 {
  color: #4caf50;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.veggetable-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}

.veggetable {
  background-color: #1f1f1f;
  display: flex;
  flex-direction: column;
  gap: 0;

  border-radius: 8px;
}


.veggetable a img {
  height: 100%;
  width: 100%;
  border-radius: 8px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  cursor: pointer;
  aspect-ratio: 1 / 1;
}

.veggetable .info {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.veggetable h3 {
  color: #4caf50;
  font-size: 1.5rem;
  margin: 0;
}

.veggetable p {
  font-size: 1.2rem;
  margin: 0;
}

