.not-found-container {
  text-align: center;
  padding: 2rem;
}

.not-found-container h1 {
  color: #ff5722;
  font-size: 3rem;
}

.not-found-container p {
  font-size: 1.2rem;
  margin: 1rem 0;
}

.not-found-container .btn {
  margin-top: 1rem;
  color: #ff5722;
}
.not-found-container .btn:hover {
  background-color: rgba(255, 87, 34, 0.1);
  border-color: #ff5722;
}
