.shop-item {
  display: flex;
  flex-direction: row;
  gap: 2rem;

  width: 100%;
  max-height: 70vh;
}

.image {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.image img {
  height: 100%;
  object-fit: contain;
  border-radius: 8px;
  aspect-ratio: 1 / 1;
}


.actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;

  width: 100%;
}

.back-btn {
  width: fit-content;
  color: #30363d;
}
.back-btn:hover {
  color: #4caf50;
}

.add-cart-btn {
  flex-grow: 1;
  border-color: #4caf50;
}


.details {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border-left: 2px solid #4caf50;
  padding-left: 2rem;
  margin-right: 2rem;
}

.details .title {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.details p, h1, h2 {
  margin: 0;
}

.details h1 {
  color: #4caf50;
  font-size: 2rem;
}

.details p {
  font-size: 1.2rem;
  margin: 0;
}

.details p {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  align-items: center;

  text-wrap: wrap;
}



.additional-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
