<app-page-layout>
  <div class="shop-item">
    <div class="image">
      <img [src]="veggetable?.image" [alt]="veggetable?.name" />
    </div>

    <div class="details">
      <div class="title">
        <h1>{{ veggetable?.name }}</h1>
        <p class="price">${{ veggetable?.price | number : "1.0-0" }} /kg</p>
      </div>

      <div class="additional-info">
        <p>{{ veggetable?.description }}</p>
        <p>En stock - Cultivo local.</p>
      </div>

      <div class="additional-info">
        <h2>Características del proyecto</h2>
        <p>
          <app-check-icon />
          Rutas y navegación.
        </p>

        <p>
          <app-check-icon />
          Servicios.
        </p>

        <p>
          <app-check-icon />
          Inyección de dependencias (DI).
        </p>

        <p>
          <app-check-icon />
          Componentes Standalone.
        </p>
      </div>

      <div class="additional-info">
        <h2>Información Nutricional</h2>
        <p>Rico en vitaminas A y K, bajo en calorías.</p>
      </div>

      <div class="actions">
        <button class="back-btn" (click)="goBack()">Volver</button>
        <button class="add-cart-btn" (click)="addItemToCart()">
          Agregar al carrito
          <span *ngIf="getItemCount() > 0" class="rounded badge confirm">
            {{ getItemCount() }}
          </span>
        </button>
      </div>
    </div>
  </div>
</app-page-layout>
