<app-page-layout>
  <div class="container">
    <!-- Título y Descripción -->
    <section>
      <h1>Detalles del Proyecto</h1>
      <p>
        Proyecto de práctica sobre una tienda de vegetales, construido con
        Angular v16.
      </p>
      <p>
        Esta aplicación permite navegar entre diferentes vistas de productos,
        agregar artículos al carrito, cambiar entre temas, y realizar compras
        enviando los detalles por WhatsApp.
      </p>
    </section>

    <!-- Sección de Características -->
    <section>
      <h2>Features y conceptos</h2>
      <p>Lista de features y conceptos aplicados en este proyecto:</p>
      <ul>
        <li>
          <app-icon-check />
          <span
            >Navegación: Rutas, redirecciones, rutas no definidas, parámetros y
            query params.</span
          >
        </li>

        <li>
          <app-icon-check />
          <span>RouterData: Para el hint de home.</span>
        </li>

        <li>
          <app-icon-check />
          <span>Servicios.</span>
        </li>

        <li>
          <app-icon-check />
          <span
            >Inyección de dependencias (DI): &#64;Injectable y providers para
            inyectar servicios.</span
          >
        </li>

        <li>
          <app-icon-check />
          <span>Componentes Standalone.</span>
        </li>

        <li>
          <app-icon-check />
          <span>Reactividad de componentes por medio de getters.</span>
        </li>

        <li>
          <app-icon-check />
          <span>Temas: Variedad de temas con un selector.</span>
        </li>

        <li>
          <app-icon-check />
          <span>Mobile responsive.</span>
        </li>

        <li>
          <app-icon-check />
          <span>Mensajes Toast.</span>
        </li>

        <li>
          <app-icon-check />
          <span>Variables de entorno: Leer variables de sistema y .env.</span>
        </li>

        <li>
          <app-icon-check />
          <span
            >Mensajes por WhatsApp: Apertura de enlaces de chat de WhatsApp con
            el contenido del carrito.</span
          >
        </li>
      </ul>
    </section>

    <section class="footer">
      <!-- github repo -->
      <a
        class="btn github-btn"
        href="https://github.com/pedroditersimon/angular-veggie-shop"
        target="_blank"
      >
        Repositorio del proyecto
      </a>
    </section>
  </div>
</app-page-layout>
