@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700&family=Hind:wght@400&display=swap");

html,
body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Roboto", sans-serif;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  transition: all 0.3s ease;
}

svg {
  width: 20px;
  height: 20px;
}

h1,
h2,
h3,
.navbar .logo a {
  font-family: "Montserrat", sans-serif;
}

.price {
  font-family: "Hind", sans-serif;
}

a {
  text-decoration: none;
}

.btn,
button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;

  width: fit-content;
  color: var(--primary-color);
  border: 1px solid var(--disabled-color);
  background-color: transparent;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  text-decoration: none;
}

.btn:hover,
button:hover {
  background-color: var(--primary-color-bg);
  border-color: var(--primary-color);
  transform: scale(1.05);
  cursor: pointer;
  box-shadow: 0 0 8px var(--primary-color-bg);
}

.btn.disabled,
button.disabled {
  background-color: var(--disabled-color-bg);
  color: var(--disabled-color);
  border-color: var(--disabled-color);
  cursor: not-allowed;
}

.github-btn {
  color: #58a6ff;
}
.github-btn:hover {
  background-color: rgba(88, 166, 255, 0.1);
  border-color: #58a6ff;
}

.badge {
  height: auto;
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
  font-weight: bold;

  border: none;
  border-radius: 99px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.badge.confirm {
  background-color: var(--badge-confirm-color-bg);
  color: var(--badge-confirm-color);
}

.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

section {
  margin: 0;
}

h1,
h2 {
  color: var(--primary-color);
  font-size: x-large;
}

h1,
h2,
p {
  margin: 0;
  margin-bottom: 0.75rem;
}

section ul {
  display: flex;
  flex-direction: column;
  gap: 0.15rem;

  padding: 0;
  margin: 0;
  margin-left: 1rem;
}
section ul li {
  list-style-type: none;
  margin: 0;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

/* Animación fade-in */
.fade-in {
  animation: fadeInAnimation 0.3s ease-out;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
    /* Comienza invisible */
    transform: translateY(-5%);
    /* Comienza fuera de la pantalla hacia la izquierda */
  }

  100% {
    opacity: 1;
    /* Termina completamente visible */
    transform: translateX(0);
    /* Llega a su posición original */
  }
}

@media (max-width: 768px) {
  .btn {
    padding: 0.5rem 0.75rem;
    font-size: 1.25rem;
  }
}
