/* light-theme */
:root {
  --background-color: #fcfdf7;
  --background-color-secondary: #edf2e4;
  --text-color: #2e4600;

  --primary-color: #4caf50;
  --primary-color-bg: #4caf501a; /* 10% opacity */

  --disabled-color: #909090;
  --disabled-color-bg: #e0e0e0;

  --confirm-color: #4caf50;
  --confirm-color-bg: #4caf5033; /* 20% opacity */

  --error-color: #ff5722;
  --error-color-bg: #ff57221a; /* 10% opacity */

  --badge-confirm-color: #155431;
  --badge-confirm-color-bg: #a7fdcb;
}

.dark-theme {
  --background-color: #121212;
  --background-color-secondary: #1f1f1f;
  --text-color: #e0e0e0;

  --primary-color: #4caf50;
  --primary-color-bg: #4caf501a; /* 10% opacity */

  --disabled-color: #30363d;
  --disabled-color-bg: #30363d;

  --confirm-color: #4caf50;
  --confirm-color-bg: #4caf50a1; /* 10% opacity */

  --error-color: #ff5722;
  --error-color-bg: #ff57221a; /* 10% opacity */

  --badge-confirm-color: #155431;
  --badge-confirm-color-bg: #a7fdcb;
}

.orange-theme {
  --background-color: #263238;
  --background-color-secondary: #37474f;
  --text-color: #cfd8dc;

  --primary-color: #ff8a65;
  --primary-color-bg: #ff8a651a; /* 10% opacity */

  --disabled-color: #757575;
  --disabled-color-bg: #424242;

  --confirm-color: #81c784;
  --confirm-color-bg: #81c78433; /* 20% opacity */

  --error-color: #e57373;
  --error-color-bg: #e573731a; /* 10% opacity */

  --badge-confirm-color: #43a047;
  --badge-confirm-color-bg: #a5d6a7;
}

.luna-theme {
  --background-color: #2a2a3c;
  --background-color-secondary: #33334d;
  --text-color: #e8e8f0;

  --luna-color: #b0b3c0;
  --primary-color: var(--luna-color);
  --primary-color-bg: rgba(176, 179, 192, 0.1); /* 10% opacity */

  --disabled-color: #555;
  --disabled-color-bg: #444;
}

.aurora-theme {
  --background-color: #141e30;
  --background-color-secondary: #243b55;
  --text-color: #e0e0e0;

  --primary-color: #1cd8d2;
  --primary-color-bg: rgba(28, 216, 210, 0.1); /* 10% opacity */

  --disabled-color: #6c757d;
  --disabled-color-bg: #6c757d;
}
