.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 0.5rem;
  border-bottom: 2px solid var(--primary-color);

  margin: 0 1rem;
}

.logo a {
  color: var(--primary-color);
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}

@media (max-width: 768px) {
  .navbar {
    padding: 0.25rem;
    margin: 0 0.5rem;
  }

  .logo a {
    font-size: 1.25rem;
  }
}
