.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 0.5rem;
  border-bottom: 2px solid var(--primary-color);

  margin: 0 1rem;
}

.logo a {
  color: var(--primary-color);
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links {
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav-links .btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
}
:host ::ng-deep .nav-links .btn svg {
  width: 20px;
  height: 20px;
}

.nav-links .link-active {
  display: none;
}

/* Estilo base para el select */
select {
  border-radius: 0.25rem;
  padding: 0.5rem;
  cursor: pointer;
  outline: none;
}

/* Estilo para las opciones */
.theme-selector option {
  padding: 10px;
  background-color: var(--background-color);
  color: var(--text-color);
}

/* Estilo para las opciones al pasar el mouse */
.theme-selector option:hover,
.theme-selector option:checked {
  background-color: var(--background-color-secondary);
}

.github-btn {
  color: #58a6ff;
}
.github-btn:hover {
  background-color: rgba(88, 166, 255, 0.1);
  border-color: #58a6ff;
}
