<div *ngIf="getShowCartPanel()" class="cart-panel fade-in">
  <div class="btn close-btn" (click)="closeCartPanel()">
    <app-icon-up />
  </div>

  <div class="cart-panel-content">
    <div class="cart-item-list">
      <app-cart-item
        *ngFor="let cartItem of cart"
        [cartItem]="cartItem"
        (addItemToCart)="addItemToCart(cartItem.veggetable)"
        (removeOneItemFromCart)="removeOneItemFromCart(cartItem.veggetable.id)"
        (removeAllItemsFromCart)="
          removeAllItemsFromCart(cartItem.veggetable.id)
        "
      />
    </div>
    <div class="h-divider"></div>
    <button>Finalizar compra</button>
  </div>
</div>
