<div *ngIf="showCartPanel" class="cart-panel fade-in" #cartPanel>
  <div class="btn close-btn" (click)="closeCartPanel()">
    <app-icon-up />
  </div>

  <div class="cart-panel-content">
    <div class="cart-item-list">
      <app-cart-item
        *ngFor="let cartItem of cart"
        [cartItem]="cartItem"
        (addItemToCart)="addItemToCart(cartItem.veggetable)"
        (removeOneItemFromCart)="removeOneItemFromCart(cartItem.veggetable.id)"
        (removeAllItemsFromCart)="
          removeAllItemsFromCart(cartItem.veggetable.id)
        "
      />
    </div>
    <div class="h-divider"></div>
    <div class="cart-panel-total">
      <span class="price">Total</span>
      <span class="price">${{ totalPrice | number : "1.0-0" }}</span>
    </div>

    <button (click)="finishOrder()" [disabled]="itemsCount <= 0">
      Finalizar compra
    </button>
  </div>
</div>
