.not-found-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #ff5722;
  font-size: 3rem;
  margin: 0;
}

p {
  font-size: 1.2rem;
}

.btn {
  color: #ff5722;
}
.btn:hover {
  background-color: rgba(255, 87, 34, 0.1);
  border-color: #ff5722;
}
