.not-found-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: var(--error-color);
  font-size: 3rem;
  margin: 0;
}

p {
  font-size: 1.2rem;
}

.btn {
  color: var(--error-color);
}
.btn:hover {
  background-color: var(--error-color-bg);
  border-color: var(--error-color);
}
